<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itkim.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.itkim.pojo.Book" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="publishing_house" property="publishingHouse" jdbcType="VARCHAR" />
    <result column="translator" property="translator" jdbcType="VARCHAR" />
    <result column="year_of_publication" property="yearOfPublication" jdbcType="VARCHAR" />
    <result column="pages" property="pages" jdbcType="INTEGER" />
    <result column="ISBN" property="isbn" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="VARCHAR" />
    <result column="current_price" property="currentPrice" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="REAL" />
    <result column="number_of_people" property="numberOfPeople" jdbcType="INTEGER" />
    <result column="brief_introduction" property="briefIntroduction" jdbcType="VARCHAR" />
    <result column="author_introduction" property="authorIntroduction" jdbcType="VARCHAR" />
    <result column="catalog" property="catalog" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, book_name, author, publishing_house, translator, year_of_publication, pages, 
    ISBN, original_price, current_price, score, number_of_people, brief_introduction, 
    author_introduction, catalog, label, img_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itkim.pojo.BookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from book
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from book
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itkim.pojo.BookExample" >
    delete from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itkim.pojo.Book" >
    insert ignore into book (id, book_name, author,
      publishing_house, translator, year_of_publication, 
      pages, ISBN, original_price, 
      current_price, score, number_of_people, 
      brief_introduction, author_introduction, 
      catalog, label, img_url
      )
    values (#{id,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{publishingHouse,jdbcType=VARCHAR}, #{translator,jdbcType=VARCHAR}, #{yearOfPublication,jdbcType=VARCHAR}, 
      #{pages,jdbcType=INTEGER}, #{isbn,jdbcType=VARCHAR}, #{originalPrice,jdbcType=VARCHAR}, 
      #{currentPrice,jdbcType=VARCHAR}, #{score,jdbcType=REAL}, #{numberOfPeople,jdbcType=INTEGER}, 
      #{briefIntroduction,jdbcType=VARCHAR}, #{authorIntroduction,jdbcType=VARCHAR}, 
      #{catalog,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itkim.pojo.Book" >
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookName != null" >
        book_name,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="publishingHouse != null" >
        publishing_house,
      </if>
      <if test="translator != null" >
        translator,
      </if>
      <if test="yearOfPublication != null" >
        year_of_publication,
      </if>
      <if test="pages != null" >
        pages,
      </if>
      <if test="isbn != null" >
        ISBN,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="currentPrice != null" >
        current_price,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="numberOfPeople != null" >
        number_of_people,
      </if>
      <if test="briefIntroduction != null" >
        brief_introduction,
      </if>
      <if test="authorIntroduction != null" >
        author_introduction,
      </if>
      <if test="catalog != null" >
        catalog,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookName != null" >
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="publishingHouse != null" >
        #{publishingHouse,jdbcType=VARCHAR},
      </if>
      <if test="translator != null" >
        #{translator,jdbcType=VARCHAR},
      </if>
      <if test="yearOfPublication != null" >
        #{yearOfPublication,jdbcType=VARCHAR},
      </if>
      <if test="pages != null" >
        #{pages,jdbcType=INTEGER},
      </if>
      <if test="isbn != null" >
        #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=VARCHAR},
      </if>
      <if test="currentPrice != null" >
        #{currentPrice,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=REAL},
      </if>
      <if test="numberOfPeople != null" >
        #{numberOfPeople,jdbcType=INTEGER},
      </if>
      <if test="briefIntroduction != null" >
        #{briefIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="authorIntroduction != null" >
        #{authorIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null" >
        #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itkim.pojo.BookExample" resultType="java.lang.Integer" >
    select count(*) from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update book
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bookName != null" >
        book_name = #{record.bookName,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.publishingHouse != null" >
        publishing_house = #{record.publishingHouse,jdbcType=VARCHAR},
      </if>
      <if test="record.translator != null" >
        translator = #{record.translator,jdbcType=VARCHAR},
      </if>
      <if test="record.yearOfPublication != null" >
        year_of_publication = #{record.yearOfPublication,jdbcType=VARCHAR},
      </if>
      <if test="record.pages != null" >
        pages = #{record.pages,jdbcType=INTEGER},
      </if>
      <if test="record.isbn != null" >
        ISBN = #{record.isbn,jdbcType=VARCHAR},
      </if>
      <if test="record.originalPrice != null" >
        original_price = #{record.originalPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.currentPrice != null" >
        current_price = #{record.currentPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=REAL},
      </if>
      <if test="record.numberOfPeople != null" >
        number_of_people = #{record.numberOfPeople,jdbcType=INTEGER},
      </if>
      <if test="record.briefIntroduction != null" >
        brief_introduction = #{record.briefIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.authorIntroduction != null" >
        author_introduction = #{record.authorIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.catalog != null" >
        catalog = #{record.catalog,jdbcType=VARCHAR},
      </if>
      <if test="record.label != null" >
        label = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null" >
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update book
    set id = #{record.id,jdbcType=INTEGER},
      book_name = #{record.bookName,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      publishing_house = #{record.publishingHouse,jdbcType=VARCHAR},
      translator = #{record.translator,jdbcType=VARCHAR},
      year_of_publication = #{record.yearOfPublication,jdbcType=VARCHAR},
      pages = #{record.pages,jdbcType=INTEGER},
      ISBN = #{record.isbn,jdbcType=VARCHAR},
      original_price = #{record.originalPrice,jdbcType=VARCHAR},
      current_price = #{record.currentPrice,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=REAL},
      number_of_people = #{record.numberOfPeople,jdbcType=INTEGER},
      brief_introduction = #{record.briefIntroduction,jdbcType=VARCHAR},
      author_introduction = #{record.authorIntroduction,jdbcType=VARCHAR},
      catalog = #{record.catalog,jdbcType=VARCHAR},
      label = #{record.label,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itkim.pojo.Book" >
    update book
    <set >
      <if test="bookName != null" >
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="publishingHouse != null" >
        publishing_house = #{publishingHouse,jdbcType=VARCHAR},
      </if>
      <if test="translator != null" >
        translator = #{translator,jdbcType=VARCHAR},
      </if>
      <if test="yearOfPublication != null" >
        year_of_publication = #{yearOfPublication,jdbcType=VARCHAR},
      </if>
      <if test="pages != null" >
        pages = #{pages,jdbcType=INTEGER},
      </if>
      <if test="isbn != null" >
        ISBN = #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=VARCHAR},
      </if>
      <if test="currentPrice != null" >
        current_price = #{currentPrice,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=REAL},
      </if>
      <if test="numberOfPeople != null" >
        number_of_people = #{numberOfPeople,jdbcType=INTEGER},
      </if>
      <if test="briefIntroduction != null" >
        brief_introduction = #{briefIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="authorIntroduction != null" >
        author_introduction = #{authorIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null" >
        catalog = #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itkim.pojo.Book" >
    update book
    set book_name = #{bookName,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      publishing_house = #{publishingHouse,jdbcType=VARCHAR},
      translator = #{translator,jdbcType=VARCHAR},
      year_of_publication = #{yearOfPublication,jdbcType=VARCHAR},
      pages = #{pages,jdbcType=INTEGER},
      ISBN = #{isbn,jdbcType=VARCHAR},
      original_price = #{originalPrice,jdbcType=VARCHAR},
      current_price = #{currentPrice,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      number_of_people = #{numberOfPeople,jdbcType=INTEGER},
      brief_introduction = #{briefIntroduction,jdbcType=VARCHAR},
      author_introduction = #{authorIntroduction,jdbcType=VARCHAR},
      catalog = #{catalog,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>